.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.RowCenter {
  justify-content: center;
  display: flex;
  flex-direction: row;
}



.ButtonContainer {
  margin-top: 1rem;
}

.ButtonContainer button {
  margin: 0 0.5rem;
  background-color: rgb(148, 191, 248);
  color: black;
  height: 30px;
  width: max-content;
}


